html,
body {
    height: 100%;
}

body {
    background-image: url('../Fotos/rm378-05.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

/* REMOVE O FUNDO BRANCO DO TEMPLATE */
.wrapper,
#content {
    background: transparent !important;
}
